.my-work {
    display: flex;
    justify-content: center;


    &__content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 1em;
        row-gap: .5em;
        max-height: 100vh;
        overflow: auto;
        padding-left: 180px;
        padding-top: 150px;
        padding-bottom: 100px;
        box-sizing: border-box;

        @media screen and (max-width: 768px) {
            padding-left: 0;
            padding-top: 50px;
        }
    }
}