$background: #0e0e0e;
$hyper-purple: #f2199c;
$hyper-green: #01f8c1;
$hyper-thunder: #3ceefc;
$card-background: #1d1d1d;

@keyframes pulse {
    from {
        transform: scale(0.3);
    }
    to {
        transform: scale(0.5);
    }
  }